/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --page-background-image: url(../images/cover-image-dark.png);
  --default-color: #ff0070;
  --accent-color: var(--default-color);

  --decor-color-text: var(--background-color);
  --decor-color-background: var(--accent-color);

  --header-title: #db00ff;
  --header-title-shadow: var(--default-color);

  --title-color: var(--default-color);
  --text-color: #f1b2ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-color: #000028;
    --page-background-image: url(../images/cover-image-dark.png);
    --default-color: #ff0070;
    --accent-color: var(--default-color);

    --decor-color-text: var(--background-color);
    --decor-color-background: var(--accent-color);

    --header-title: #db00ff;
    --header-title-shadow: var(--default-color);

    --title-color: var(--default-color);
    --text-color: #f1b2ce;
  }

  .page.theme_auto .decor-rec::before {
    content: 'REC';

    font-size: 18px;
    line-height: 26px;

    position: absolute;
    top: 0;
    right: 28px;

    color: var(--default-color);
  }

  .page.theme_auto .decor-rec::after {
    content: '';

    position: absolute;
    top: 9px;
    right: 9px;

    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--default-color);
    box-shadow: 0 0 4px 2px var(--default-color);
  }
}