.page.theme_light {
  --background-color: #fff1f7;
  --page-background-image: url(../images/cover-image-light.png);
  --default-color: #353430;
  --accent-color: #ff8dcb;

  --decor-color-text: var(--default-color);
  --decor-color-background: var(--accent-color);

  --header-title: #ffc2e6;
  --header-title-shadow: #ff0070;

  --title-color: var(--default-color);
  --text-color: var(--default-color);

  & .decor-rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --page-background-image: url(../images/cover-image-light.png);
    --default-color: #353430;
    --accent-color: #ff8dcb;

    --decor-color-text: var(--default-color);
    --decor-color-background: var(--accent-color);

    --header-title: #ffc2e6;
    --header-title-shadow: #ff0070;

    --title-color: var(--default-color);
    --text-color: var(--default-color);

    & .decor-rec {
      display: none;
    }
  }
}